.main {
   
    width: 100%;
    
}

.main_link {

    text-decoration-line: none;
}

.article1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    .title_main{
        color: $dull-orange;
        font-size: 1.92rem;
    }

    .paragraph {
        color: $dark-gn-blue;
        font-size: 1.28rem;
    }
}


.article2 {
display: flex;
flex-direction: row;
border: 0.2rem solid gray;



 .list_link{
    font-size: 1.28rem;
    color: $gunmetal;
    list-style: none;
 }



}


.button {
    text-transform: uppercase;
    background-color: $dirty-blue;
    color: white;
    border-radius: 2rem;
    height: 4.2rem;
    width: 12.9rem;
    border-bottom: none;
    border: none;
}
